models/*
!models
core/__pycache__/*
logs
new_model_arch
correct
bigger
__pycache__/new_model.cpython-311.pyc
drawing_new_model.py
test.svg
single_letters
/mwoutput
/last_models
model_metrics.csv
logi.txt
/8e4l
/kappa_models
/masked_models
/rmsprop
/adam
/adam_v2
/adam_v3
/rms_prop2
/rms_prop3
/rework
/adam_after
*.pyc
last_try/__pycache__/data_prep.cpython-312.pyc
last_try/__pycache__/model.cpython-312.pyc
