models/*
!models
core/__pycache__/*
logs
new_model_arch
correct
bigger
__pycache__/new_model.cpython-311.pyc
drawing_new_model.py
test.svg
single_letters
/mwoutput
/last_models
model_metrics.csv
logi.txt
/8e4l
/kappa_models
/masked_models
